.flex{
    display: flex;
    gap: 15px;
}

.icon-container{
    display: flex;
    align-items: center;
}

.amount{
    font-weight: 600;
}
.earning-desc{
margin-top: 10px;
}

.bgcolor-main{
    
 min-height: 100vh;
 background: #ECEFF1;
 background: linear-gradient(158deg, ■rgb(224, 224, 224) 0%, rrgb(233, 237, 254)100%)

}

.gradient-1{
    background: rgb(68, 63, 162);
background: linear-gradient(90deg, rgb(35, 28, 169) 0%, rgba(0,212,255,1) 100%);
}

.gradient-2{
    background: rgb(107,102,200);
background: linear-gradient(90deg, rgba(107,102,200,1) 0%, rgba(0,212,255,1) 60%);

}

